@tailwind base;

@tailwind components;

@tailwind utilities;

body{
    background-image: url('../img/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-color:hsl(275, 100%, 97%);
    background-size:100% ;
}

@media screen and (max-width 768px){
    body{
        background-size:170% ;
    }
}

.faq-question{
 display: flex;
 justify-content: space-between;
}

.faq-question > h2:hover{
    color: Lightpink;
}
.faq-seperator{
    height: 1px;
    background: aliceblue;
}

.faq-answer{
    color:Grayishpurple;
    font-style: myfont;
    font-weight: 400;
    max-width: sm;
    font-size: small;
}
